&twai {
        status = "okay";
        pinctrl-0 = <&twai_default>;
        pinctrl-names = "default";
        bus-speed = <125000>;
    
        can-transceiver {
            max-bitrate = <1000000>;
        };
    };
    
    &pinctrl {
        twai_default: twai_default {
            group1 {
                pinmux = <TWAI_RX_GPIO32>,
                        <TWAI_TX_GPIO26>;
            };
        };
    };